@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Store</h1>
    <p class="lead">Discover the latest in electronics, from cutting-edge gadgets to everyday essentials. Enjoy great deals and fast shipping!</p>
    <img src="/Products/logo.png" alt="Store Banner" class="img-fluid mt-4">

</div>
